body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    vertical-align:text-top;
}


.room_title{
    border:1px solid black;
    background-color:#94d3e6
}
.vert_time{
    border-bottom:1px solid black;
    color:white;
    background-color:#2647A0;
    width:100px;
    min-width:100px;



}
.agenda_slot_title{
    color:white;
    background-color:#2647A0;
    
}

table.meeting_event {
    /* border:1px solid black; */
    /* background:#E0FFFF; */

    border-radius: 4px;
/* //    margin:8px; */
    width:100px;
    /* width:100%; */
    max-width:100px;
    /* height:67px; */
    cursor:pointer;
}


.meeting_event th{
    /* background:#E6E6FA; */
    padding:0px;
    /* background-color:#ff7373; */

    border-radius: 4px;
    background-color:#2b95b5;
    color:white;
    font-size: 10px; 
    text-align:center;
    border:1px solid blue;
    height:8px;
  
}
/* #EDF5FF */
.menu{
    float:left;
    border: 1px solid brown;
}


.wrapper{
    width: 90%;
    margin-left:160px;
    height:90%;

    /* float: left; */
    /* height:1000px; */



}
.agenda{
    float:left;
    width:100%;
    /* width:500px; */
    /* height:500px; */


}


#CLOSE_IETF_MENUBAR{
    border-radius: 4px;
    background-color:#2b95b5;
    color:white;
    border:1px solid black; 
    width:25px; 
    height:15px; 
    float:left;
    cursor:pointer;

}

#session-info{
    height:100px;

    
}

#IETF_MENUBAR{
    width:auto;

}
tr.agenda_slot{

   height:50px;
}

.agenda_slot{
    /* max-width:400px; */
    /* max-height:400px; */
    /* min-width:400px; */

    background-color:white;
    /* border-bottom: 1px solid black; */
    /* border-right: 1px solid black; */
    padding:0px;
    /* padding:8px; */
    /* min-height:500px; */
    width:100px;
    min-width:100px;
}


.agenda_div{
    height:80%;
    overflow-x:scroll;
    /* margin-right: 50px; */
    
    


}
/* style="border:1px solid red; background:#A60000; color:white" */

.bucket-list{
    /* position: absolute; */
    /* bottom:0; */
    /* border:1px solid blue; */
    height:50px;
    border-bottom: 1px solid black;

}


