{% extends "base.html" %}
{% load ietf_filters %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% load humanize %}

{% load dajaxice_templatetags %}

{% block title %}IETF {{ meeting.number }} Meeting Agenda{% endblock %}
{% load agenda_custom_tags %}
{% block pagehead %}
<link rel='stylesheet' type='text/css' href='/css/ietf.css' />

<script type='text/javascript' src='/js/jquery-1.8.2.min.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery-ui.custom.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery.ui.widget.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery.ui.droppable.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery.ui.sortable.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery.ui.accordion.js'></script>
<script type='text/javascript' src='/js/jquery-ui-1.9.0.custom/jquery.ui.draggable.js'></script>

{% dajaxice_js_import %}

<script type='text/javascript' src='/js/agenda_listeners.js'></script>
<script type='text/javascript' src='/js/agenda_helpers.js'></script>
<script type='text/javascript' src='/js/agendas_edit.js'></script>

{% endblock pagehead %}

{% block noTable %}
</tr></table></div>
<div class="wrapper custom_text_stuff">
<div style="ui-icon ui-icon-arrow-1-w" id="CLOSE_IETF_MENUBAR">
&lt;
</div>

<div class="agenda_list_title">
<p>Meeting {{meeting.number}}</p>
</div>

<div class="agenda_list">
<table>
  <tr class="heading"><td colspan=6>Agendas I control</td></tr>

  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Visible</th>
    <th>Public</th>
  </tr>
  {% for agenda in myschedules %}
    <tr>
      <td class="agenda_data">
        <a href="{{agenda.relurl}}"><span class="agenda_name">{{ agenda.name }}</span></a>
      </td>
      <td class="agenda_data"> <span class="agenda_owner">{{ agenda.owner }}</span> </td>
      <td class="agenda_data"> <span class="agenda_visible">{{ agenda.visible_token }}</span></td>
      <td class="agenda_data"> <span class="agenda_public">{{ agenda.public_token }}</span></td>
      <td class="agenda_mark"> <span class="agenda_official">{{ agenda.official_token }}</span></td>
      <td class="agenda_mark"> <span class="agenda_delete">DELETE</span> </td>
    </tr>
  {% endfor %}

  <tr class="heading"><td colspan=6>Agendas I have access to</td></tr>

  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Visible</th>
    <th>Public</th>
  </tr>
  {% for agenda in visibleschedules %}
    <tr>
      <td class="agenda_data">
        <a href="{{agenda.relurl}}"><span class="agenda_name">{{ agenda.name }}</span></a>
      </td>
      <td class="agenda_data"> <span class="agenda_owner">{{ agenda.owner }}</span> </td>
      <td class="agenda_data"> <span class="agenda_visible">{{ agenda.visible_token }}</span></td>
      <td class="agenda_data"> <span class="agenda_public">{{ agenda.public_token }}</span></td>
    </tr>
  {% endfor %}
</table>
</div>

<div class="towtruck">
{% if server_mode %}
	{% ifnotequal server_mode "production" %}
	<button onclick="TowTruck(this); return false;">Start TowTruck</button>
	{% endifnotequal %}
{% endif %}
</div>
</div>

{% endblock %}
